# PostgreSQL Database Connection URL (Hosted Production or Local)
DATABASE_URL="postgresql://user:password@ep-host.region.aws.neon.tech/neondb?sslmode=require"

# Server Port
PORT=5000

# Environment Mode
NODE_ENV=production

# Frontend Application URL (for CORS)
CORS_ORIGIN="*"
